<form [formGroup]="form" (ngSubmit)="onSubmit()" class="card">
  <h3 class="text-secondary text-lg font-bold mb-5">Novo certificado</h3>

  <div class="flex flex-col gap-2 mb-5">
    <label
      class="font-medium"
      [ngClass]="{
        'text-secondary': !generateCertificateFormService.isNameInvalid,
        'text-red-500': generateCertificateFormService.isNameInvalid
      }"
    >Nome Completo</label>
    <input
      type="text"
      placeholder="Digite o nome completo do aluno"
      formControlName="name"
      class="py-2 px-3 rounded-md border border-gray-100 placeholder-gray-200"
    />

    @if (generateCertificateFormService.isNameInvalid) {
      @if (generateCertificateFormService.name?.errors?.['required']) {
        <small class="text-red-500">Nome é obrigatório.</small>
      }
      @else if (generateCertificateFormService.name?.errors?.['minlength']) {
        <small class="text-red-500">Mínimo de 3 caracteres.</small>
      }
    }
  </div>

  <div class="flex gap-2 mb-8">
    <div class="flex flex-col gap-2 w-full">
      <label
        class="font-medium"
        [ngClass]="{
          'text-secondary': !generateCertificateFormService.isActivitiesInvalid,
          'text-red-500': generateCertificateFormService.isActivitiesInvalid && activities().length === 0
        }"
      >Atividade</label>
      <div class="flex gap-2">
        <input
          type="text"
          placeholder="Digite o título da atividade"
          formControlName="activities"
          class="py-2 px-3 rounded-md border border-gray-100 placeholder-gray-200 w-full"
        />

        <app-button
          (click)="addActivity()"
          class="mt-auto"
          [disabled]="generateCertificateFormService.isActivitiesInvalid"
          [icon]="eIcon.plus"
          label="Adicionar"
          type="button"
        />
      </div>

      @if (generateCertificateFormService.isActivitiesInvalid && activities().length === 0) {
        @if (generateCertificateFormService.activities?.errors?.['required']) {
          <small class="text-red-500">Atividade é obrigatória.</small>
        }
        @else if (generateCertificateFormService.activities?.errors?.['minlength']) {
          <small class="text-red-500">Mínimo de 3 caracteres.</small>
        }
      }
    </div>
  </div>

  @if (activities().length > 0) {
    <div class="space-y-2 mb-8">
      <span class="text-secondary font-medium">Lista de atividades</span>

      <div class="p-4 rounded-lg space-y-3 border border-gray-100">
        @for (activity of activities(); track $index) {
          <div class="flex items-center justify-between">
            <span>{{ activity }}</span>
            <i
              (click)="removeActivity($index)"
              class="ph ph-x text-2xl text-danger hover:text-danger-dark"
            ></i>
          </div>
          @if ($index + 1 != activities().length) {
            <hr class="text-gray-100" />
          }
        }
      </div>
    </div>
  }

  <app-button [disabled]="form.invalid && activities().length === 0" label="Gerar Certificado" type="submit"/>
</form>
